.double-bg {
   background: linear-gradient(
    to bottom,
    #ebeff1 0%,
    #ebeff1 10%,
    #ffffff 30%,
    #ffffff 100%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
}

table {
  font-size: 14px;
}

.table tbody {
  overflow-y: auto;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background-color: #007bff;
  border-radius: 10px;
}
.transparent-container {
  background-color: transparent !important;
  box-shadow: none !important;
  border: none !important;
}

