body, html {
  height: 100%;
  overflow: hidden; /* prevent scrolling */
}

.double-bg {
  background: linear-gradient(to bottom, #ebeff1 0%, #ffffff 100%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-800px {
  max-width: 800px;
  width: 100%;
}

label {
  font-weight: 500;
}
